<!doctype html>
<html>
  <head>
    <title><%= title %> | Thanks!</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
  </head>
  <body>
    <h1>Thank you for reaching out!</h1>
    <p>I've gotten your message via email and I will be back in touch soon.</p>
    <a href='/'>Home</a>
  </body>
</html>
